# Bonus: Temperature Analysis I

In [8]:
import pandas as pd
from datetime import datetime as dt

In [9]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [10]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [23]:
# Set the date column as the DataFrame index
date_index = df.set_index('date')
date_index

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [24]:
# Drop the date column
date_index.reset_index(drop=True, inplace=True)
date_index.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [11]:
from scipy import stats

In [14]:
# Filter data for desired months

june_data = df[df['date'].dt.month == 6]
#june_data

dec_data = df[df['date'].dt.month == 12]
#dec_data

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [20]:
# Identify the average temperature for June
june_data_group = june_data.groupby('station')
june_mean = june_data_group['tobs'].mean()

In [21]:
# Identify the average temperature for December
dec_data_group = dec_data.groupby('station')
dec_mean = dec_data_group['tobs'].mean()

In [ ]:
# Create collections of temperature data

In [22]:
# Run paired t-test
stats.ttest_ind(june_mean, dec_mean, equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

I used unpaired t-test as the data is unique to each month i.e June and December.